.cart-container {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.hidden-display {
  background: white;
  padding: 0.5em;
}

.visible-display {
  border: solid black 5px;
  display: inline-block;
  position: fixed;
  top: 4%;
  left: 4%;
  height: 92%;
  width: 92%;
  background-color: white;
}

.cart-content {
  width: 90%;
  margin: 3% auto 2% auto;
}

@media screen and (max-width: 800px) {
  .cart-container {
    border: pink 2px solid;
  }
}
